#container {
  width: 100%;
  position: fixed;
}

#tree {
  position: relative;
  top: 19em;
  right: 4em;
}

.blossom {
  position: relative;
  width: 1.5%;

}

/* 1st Blossom */

#petal0.blossom {
  right: 11em;
  bottom: 2em;
  z-index: 1;

}

#petal1.blossom {
  right: 12em;
  bottom: 1.8em;
  z-index: 2;

  -ms-transform: rotate(45deg); /* IE 9 */
   -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
   transform: rotate(45deg);
}

#petal2.blossom {
  right: 13.2em;
  bottom: 1.3em;

  z-index: 3;
  -ms-transform: rotate(90deg); /* IE 9 */
   -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
   transform: rotate(90deg);
}

#petal3.blossom {
  left: 547px;
  bottom: 395px;
  z-index: 4;
  -ms-transform: rotate(135deg); /* IE 9 */
   -webkit-transform: rotate(135deg); /* Chrome, Safari, Opera */
   transform: rotate(135deg);
}

#petal4.blossom {
  left: 540px;
  bottom: 393px;
  z-index: 5;
  -ms-transform: rotate(180deg); /* IE 9 */
   -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
   transform: rotate(180deg);
}

#petal5.blossom {
  left: 530px;
  bottom: 396px;
  z-index: 6;
  -ms-transform: rotate(225deg); /* IE 9 */
   -webkit-transform: rotate(225deg); /* Chrome, Safari, Opera */
   transform: rotate(225deg);
}

#petal6.blossom {
  left: 527px;
  bottom: 406px;
  z-index: 7;
  -ms-transform: rotate(270deg); /* IE 9 */
   -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
   transform: rotate(270deg);
}

#petal7.blossom {
  left: 529px;
  bottom: 413px;
  z-index: 7;
  -ms-transform: rotate(315deg); /* IE 9 */
   -webkit-transform: rotate(315deg); /* Chrome, Safari, Opera */
   transform: rotate(315deg);
}

/* 2nd Blossom */

#petal8.blossom {
  left: 535px;
  bottom: 340px;
  z-index: 1;
}

#petal9.blossom {
  left: 545px;
  bottom: 337px;
  z-index: 2;

  -ms-transform: rotate(45deg); /* IE 9 */
   -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
   transform: rotate(45deg);
}

#petal10.blossom {
  left: 548px;
  bottom: 330px;
  z-index: 3;
  -ms-transform: rotate(90deg); /* IE 9 */
   -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
   transform: rotate(90deg);
}

#petal11.blossom {
  left: 547px;
  bottom: 295px;
  z-index: 4;
  -ms-transform: rotate(135deg); /* IE 9 */
   -webkit-transform: rotate(135deg); /* Chrome, Safari, Opera */
   transform: rotate(135deg);
}

#petal12.blossom {
  left: 540px;
  bottom: 293px;
  z-index: 5;
  -ms-transform: rotate(180deg); /* IE 9 */
   -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
   transform: rotate(180deg);
}

#petal13.blossom {
  left: 530px;
  bottom: 296px;
  z-index: 6;
  -ms-transform: rotate(225deg); /* IE 9 */
   -webkit-transform: rotate(225deg); /* Chrome, Safari, Opera */
   transform: rotate(225deg);
}

#petal14.blossom {
  left: 527px;
  bottom: 206px;
  z-index: 7;
  -ms-transform: rotate(270deg); /* IE 9 */
   -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
   transform: rotate(270deg);
}

#petal15.blossom {
  left: 529px;
  bottom: 213px;
  z-index: 7;
  -ms-transform: rotate(315deg); /* IE 9 */
   -webkit-transform: rotate(315deg); /* Chrome, Safari, Opera */
   transform: rotate(315deg);
}
