body {
  background-color: lightblue;
}

#container {
  position: absolute;
  width: 1000px;
  height: 1000px;
}

#tree {
  position: relative;
  top: 19em;
  right: 4em;
}

.blossom {
  position: absolute;
  min-width: 20px;
}

/* 1st Blossom */

#petal0.blossom {
  /*right: 11em;
  bottom: 2em;*/
  left: 5.8em;
  top: 19.2em;

}

#petal1.blossom {
  /*right: 12em;
  bottom: 1.8em;*/
  left: 6.5em;
  top: 19.5em;

  -ms-transform: rotate(45deg); /* IE 9 */
   -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
   transform: rotate(45deg);
}

#petal2.blossom {
  left: 6.5em;
  top: 20em;
  -ms-transform: rotate(90deg); /* IE 9 */
   -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
   transform: rotate(90deg);
}

#petal3.blossom {
  left: 6.2em;
  top: 20.5em;
  -ms-transform: rotate(135deg); /* IE 9 */
   -webkit-transform: rotate(135deg); /* Chrome, Safari, Opera */
   transform: rotate(135deg);
}

#petal4.blossom {
  left: 5.8em;
  top: 20.5em;
  -ms-transform: rotate(180deg); /* IE 9 */
   -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
   transform: rotate(180deg);
}

#petal5.blossom {
  left: 5.3em;
  top: 20.2em;
  -ms-transform: rotate(225deg); /* IE 9 */
   -webkit-transform: rotate(225deg); /* Chrome, Safari, Opera */
   transform: rotate(225deg);
}

#petal6.blossom {
  left: 5.3em;
  top: 20em;
  -ms-transform: rotate(270deg); /* IE 9 */
   -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
   transform: rotate(270deg);
}

#petal7.blossom {
  left: 5.2em;
  top: 19.5em;
  -ms-transform: rotate(315deg); /* IE 9 */
   -webkit-transform: rotate(315deg); /* Chrome, Safari, Opera */
   transform: rotate(315deg);
}

/* 2nd Blossom */

#petal8.blossom {
  left: 6.4em;
  top: 20.5em;}

#petal9.blossom {
  left: 7em;
  top: 20.8em;
  -ms-transform: rotate(45deg); /* IE 9 */
   -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
   transform: rotate(45deg);
}

#petal10.blossom {
  left: 7em;
  top: 21.2em;
  -ms-transform: rotate(90deg); /* IE 9 */
   -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
   transform: rotate(90deg);
}

#petal11.blossom {
  left: 6.75em;
  top: 21.7em;
  -ms-transform: rotate(135deg); /* IE 9 */
   -webkit-transform: rotate(135deg); /* Chrome, Safari, Opera */
   transform: rotate(135deg);
}

#petal12.blossom {
  left: 6.3em;
  top: 21.7em;
  -ms-transform: rotate(180deg); /* IE 9 */
   -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
   transform: rotate(180deg);
}

#petal13.blossom {
  left: 5.9em;
  top: 21.7em;
  -ms-transform: rotate(225deg); /* IE 9 */
   -webkit-transform: rotate(225deg); /* Chrome, Safari, Opera */
   transform: rotate(225deg);
}

#petal14.blossom {
  left: 5.6em;
  top: 21em;
  -ms-transform: rotate(270deg); /* IE 9 */
   -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
   transform: rotate(270deg);
}

#petal15.blossom {
  left: 5.9em;
  top: 20.5em;
  -ms-transform: rotate(315deg); /* IE 9 */
   -webkit-transform: rotate(315deg); /* Chrome, Safari, Opera */
   transform: rotate(315deg);
}

/* 3rd Blossom */

#petal16.blossom {
  left: 10.4em;
  top: 19.5em;
}

#petal17.blossom {
  left: 11em;
  top: 19.7em;
  -ms-transform: rotate(45deg); /* IE 9 */
   -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
   transform: rotate(45deg);
}

#petal18.blossom {
  left: 11em;
  top: 20.1em;
  -ms-transform: rotate(90deg); /* IE 9 */
   -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
   transform: rotate(90deg);
}

#petal19.blossom {
  left: 11em;
  top: 20.7em;
  -ms-transform: rotate(135deg); /* IE 9 */
   -webkit-transform: rotate(135deg); /* Chrome, Safari, Opera */
   transform: rotate(135deg);
}

#petal20.blossom {
  left: 10.5em;
  top: 20.9em;
  -ms-transform: rotate(180deg); /* IE 9 */
   -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
   transform: rotate(180deg);
}

#petal21.blossom {
  left: 10.3em;
  top: 20.6em;
  -ms-transform: rotate(225deg); /* IE 9 */
   -webkit-transform: rotate(225deg); /* Chrome, Safari, Opera */
   transform: rotate(225deg);
}

#petal22.blossom {
  left: 10em;
  top: 20em;
  -ms-transform: rotate(270deg); /* IE 9 */
   -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
   transform: rotate(270deg);
}

#petal23.blossom {
  left: 10.1em;
  top: 19.6em;
  -ms-transform: rotate(315deg); /* IE 9 */
   -webkit-transform: rotate(315deg); /* Chrome, Safari, Opera */
   transform: rotate(315deg);
}

/* 4th Blossom */

#petal24.blossom {
  left: 11em;
  top: 18.8em;
}

#petal25.blossom {
  left: 11.5em;
  top: 19em;
  -ms-transform: rotate(45deg); /* IE 9 */
   -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
   transform: rotate(45deg);
}

#petal26.blossom {
  left: 11.5em;
  top: 19.6em;
  -ms-transform: rotate(90deg); /* IE 9 */
   -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
   transform: rotate(90deg);
}

#petal27.blossom {
  left: 11.5em;
  top: 20em;
  -ms-transform: rotate(135deg); /* IE 9 */
   -webkit-transform: rotate(135deg); /* Chrome, Safari, Opera */
   transform: rotate(135deg);
}

#petal28.blossom {
  left: 11em;
  top: 20.3em;
  -ms-transform: rotate(180deg); /* IE 9 */
   -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
   transform: rotate(180deg);
}

#petal29.blossom {
  left: 10.3em;
  top: 20em;
  -ms-transform: rotate(225deg); /* IE 9 */
   -webkit-transform: rotate(225deg); /* Chrome, Safari, Opera */
   transform: rotate(225deg);
}

#petal30.blossom {
  left: 10em;
  top: 19.5em;
  -ms-transform: rotate(270deg); /* IE 9 */
   -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
   transform: rotate(270deg);
}

#petal31.blossom {
  left: 10.3em;
  top: 19em;
  -ms-transform: rotate(315deg); /* IE 9 */
   -webkit-transform: rotate(315deg); /* Chrome, Safari, Opera */
   transform: rotate(315deg);
}

/* 5th Blossom */

#petal32.blossom {
  left: 12em;
  top: 18em;
}

#petal33.blossom {
  left: 12.5em;
  top: 18.3em;
  -ms-transform: rotate(45deg); /* IE 9 */
   -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
   transform: rotate(45deg);
}

#petal34.blossom {
  left: 12.7em;
  top: 18.8em;
  -ms-transform: rotate(90deg); /* IE 9 */
   -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
   transform: rotate(90deg);
}

#petal35.blossom {
  left: 12.5em;
  top: 19.2em;
  -ms-transform: rotate(135deg); /* IE 9 */
   -webkit-transform: rotate(135deg); /* Chrome, Safari, Opera */
   transform: rotate(135deg);
}

#petal36.blossom {
  left: 12.2em;
  top: 19.5em;
  -ms-transform: rotate(180deg); /* IE 9 */
   -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
   transform: rotate(180deg);
}

#petal37.blossom {
  left: 11.7em;
  top: 19.2em;
  -ms-transform: rotate(225deg); /* IE 9 */
   -webkit-transform: rotate(225deg); /* Chrome, Safari, Opera */
   transform: rotate(225deg);
}

#petal38.blossom {
  left: 11.4em;
  top: 18.8em;
  -ms-transform: rotate(270deg); /* IE 9 */
   -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
   transform: rotate(270deg);
}

#petal39.blossom {
  left: 11.4em;
  top: 18.4em;
  -ms-transform: rotate(315deg); /* IE 9 */
   -webkit-transform: rotate(315deg); /* Chrome, Safari, Opera */
   transform: rotate(315deg);
}

/* 6th Blossom */

#petal40.blossom {
  left: 14em;
  top: 20.5em;
}

#petal41.blossom {
  left: 14.5em;
  top: 20.75em;
  -ms-transform: rotate(45deg); /* IE 9 */
   -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
   transform: rotate(45deg);
}

#petal42.blossom {
  left: 14.75em;
  top: 21em;
  -ms-transform: rotate(90deg); /* IE 9 */
   -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
   transform: rotate(90deg);
}

#petal43.blossom {
  left: 14.5em;
  top: 21.5em;
  -ms-transform: rotate(135deg); /* IE 9 */
   -webkit-transform: rotate(135deg); /* Chrome, Safari, Opera */
   transform: rotate(135deg);
}

#petal44.blossom {
  left: 14em;
  top: 21.75em;
  -ms-transform: rotate(180deg); /* IE 9 */
   -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
   transform: rotate(180deg);
}

#petal45.blossom {
  left: 13.5em;
  top: 21.5em;
  -ms-transform: rotate(225deg); /* IE 9 */
   -webkit-transform: rotate(225deg); /* Chrome, Safari, Opera */
   transform: rotate(225deg);
}

#petal46.blossom {
  left: 13.25em;
  top: 21em;
  -ms-transform: rotate(270deg); /* IE 9 */
   -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
   transform: rotate(270deg);
}

#petal47.blossom {
  left: 13.5em;
  top: 20.5em;
  -ms-transform: rotate(315deg); /* IE 9 */
   -webkit-transform: rotate(315deg); /* Chrome, Safari, Opera */
   transform: rotate(315deg);
}

/* 7th Blossom */

#petal48.blossom {
  left: 13.8em;
  top: 19.1em;
}

#petal49.blossom {
  left: 14em;
  top: 19.3em;
  -ms-transform: rotate(45deg); /* IE 9 */
   -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
   transform: rotate(45deg);
}

#petal50.blossom {
  left: 14.3em;
  top: 19.75em;
  -ms-transform: rotate(90deg); /* IE 9 */
   -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
   transform: rotate(90deg);
}

#petal51.blossom {
  left: 14.3em;
  top: 20.25em;
  -ms-transform: rotate(135deg); /* IE 9 */
   -webkit-transform: rotate(135deg); /* Chrome, Safari, Opera */
   transform: rotate(135deg);
}

#petal52.blossom {
  left: 13.75em;
  top: 20.5em;
  -ms-transform: rotate(180deg); /* IE 9 */
   -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
   transform: rotate(180deg);
}

#petal53.blossom {
  left: 13em;
  top: 20.25em;
  -ms-transform: rotate(225deg); /* IE 9 */
   -webkit-transform: rotate(225deg); /* Chrome, Safari, Opera */
   transform: rotate(225deg);
}

#petal54.blossom {
  left: 13em;
  top: 19.5em;
  -ms-transform: rotate(270deg); /* IE 9 */
   -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
   transform: rotate(270deg);
}

#petal55.blossom {
  left: 13.25em;
  top: 19.2em;
  -ms-transform: rotate(315deg); /* IE 9 */
   -webkit-transform: rotate(315deg); /* Chrome, Safari, Opera */
   transform: rotate(315deg);
}

/* 8th Blossom */

#petal56.blossom {
  left: 14.2em;
  top: 17.8em;
}

#petal57.blossom {
  left: 14.5em;
  top: 18em;
  -ms-transform: rotate(45deg); /* IE 9 */
   -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
   transform: rotate(45deg);
}

#petal58.blossom {
  left: 14.7em;
  top: 18.2em;
  -ms-transform: rotate(90deg); /* IE 9 */
   -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
   transform: rotate(90deg);
}

#petal59.blossom {
  left: 14.5em;
  top: 18.5em;
  -ms-transform: rotate(135deg); /* IE 9 */
   -webkit-transform: rotate(135deg); /* Chrome, Safari, Opera */
   transform: rotate(135deg);
}

#petal60.blossom {
  left: 14.2em;
  top: 18.8em;
  -ms-transform: rotate(180deg); /* IE 9 */
   -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
   transform: rotate(180deg);
}

#petal61.blossom {
  left: 13.6em;
  top: 18.6em;
  -ms-transform: rotate(225deg); /* IE 9 */
   -webkit-transform: rotate(225deg); /* Chrome, Safari, Opera */
   transform: rotate(225deg);
}

#petal62.blossom {
  left: 13.4em;
  top: 18.3em;
  -ms-transform: rotate(270deg); /* IE 9 */
   -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
   transform: rotate(270deg);
}

#petal63.blossom {
  left: 13.6em;
  top: 17.8em;
  -ms-transform: rotate(315deg); /* IE 9 */
   -webkit-transform: rotate(315deg); /* Chrome, Safari, Opera */
   transform: rotate(315deg);

}

/* 9th Blossom */

#petal64.blossom {
  left: 14.6em;
  top: 17.5em;
}

#petal65.blossom {
  left: 15.2em;
  top: 17.7em;
  -ms-transform: rotate(45deg); /* IE 9 */
   -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
   transform: rotate(45deg);
}

#petal66.blossom {
  left: 15.28em;
  top: 18.2em;
  -ms-transform: rotate(90deg); /* IE 9 */
   -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
   transform: rotate(90deg);
}

#petal67.blossom {
  left: 15em;
  top: 18.6em;
  -ms-transform: rotate(135deg); /* IE 9 */
   -webkit-transform: rotate(135deg); /* Chrome, Safari, Opera */
   transform: rotate(135deg);
}

#petal68.blossom {
  left: 14.6em;
  top: 18.9em;
  -ms-transform: rotate(180deg); /* IE 9 */
   -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
   transform: rotate(180deg);
}

#petal69.blossom {
  left: 14.3em;
  top: 18.6em;
  -ms-transform: rotate(225deg); /* IE 9 */
   -webkit-transform: rotate(225deg); /* Chrome, Safari, Opera */
   transform: rotate(225deg);
}

#petal70.blossom {
  left: 14em;
  top: 18.2em;
  -ms-transform: rotate(270deg); /* IE 9 */
   -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
   transform: rotate(270deg);
}

#petal71.blossom {
  left: 14.1em;
  top: 17.8em;
  -ms-transform: rotate(315deg); /* IE 9 */
   -webkit-transform: rotate(315deg); /* Chrome, Safari, Opera */
   transform: rotate(315deg);

}
